.nav-top {
  position: fixed;
  z-index: 99;
  margin-top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  opacity: 0;
}

.nav-acheter {
  display: flex;
  justify-content: flex-end;
}

.nav-top p {
  display: inline;
}

.nav-top p:hover {
  color: #d01f3d;
  transition-duration: 0.3s;
}
